{% extends 'index.html' %}
{% block content %}
<div class="centered-text">
    <h1>
        Welcome to LabMate! TEST2!
    </h1>
    <h2>
        Your Electronic Lab Book
    </h2>
    <p>
        <a href="/register" hx-target="main" hx-replace-url="/register">
            Get Started
        </a>
    </p>
    <p>
        <strong>
            <a href="/#features-section">Development Roadmap</a>
        </strong>
    </p>
    {% if not user %}
    <menu class="grid" style="padding-left: 0;">
        {% include 'partials/navbar/info_tabs.html' %}
    </menu>
    {% endif %}
    <div class="grid">
        <article>
            <header>
                <strong>Manage your research</strong>
            </header>
            <p>
                Create and manage experiments, samples and measurements.
            </p>
            <p>
                <img src="/static/img/search-samples-example.png" id="trigger-image" alt="">
            </p>
            <p>
                <img src="/static/img/sample-details-example.png" id="trigger-image" alt="">
            </p>

        </article>
        <article>
            <header>
                <strong>Create entity relationships</strong>
            </header>
            <p>
                Organise your research by linking together measurements, samples and experiments.
            </p>
            <img src="/static/img/attach-measurements-example.png" alt="">
        </article>
        <article>
            <header>
                <strong>Visualise your measurements</strong>
            </header>
            <p>
                Visualise lab sample data with a variety of charts and controls
            </p>
            <img src="/static/img/chart-example.png" alt="">
            <img src="/static/img/chart-controls-example.png" alt="">
        </article>
    </div>
    <article>
        <header>
            <strong>Download Demo Data</strong>
        </header>
        <div class="grid">
            {% for file in ['samples', 'sine_wave', 'xrd_data'] %}
            <a href="/static/csv/{{ file }}.csv" download>
                <button>{{ file}}.csv
                    <img src="/static/svg/download.svg" alt="">
                </button>
            </a>
            {% endfor %}
        </div>
    </article>

    <br>
</div>

{% include 'partials/pages/about.html' %}
{% include 'partials/pages/features.html' %}
{% include 'partials/pages/pricing.html' %}
{% include 'partials/pages/contact.html' %}
{% include 'partials/pages/terms_and_conditions.html' %}
{% endblock %}