<dialog id="edit-sample-dialog">
    <article>
        <header>
            <form method="dialog">
                <button aria-label="Close" rel="prev"></button>
            </form>
            <strong>Edit Sample</strong>
        </header>
        <form>
            <input id="formula" type="text" name="formula" value="{{ sample.formula }}" required>
            <input id="format" type="text" name="format" value="{{ sample.format }}" required>
            <input id="label" type="text" name="label" value="{{ sample.label }}" required>
            <input id="family" type="text" name="family" value="{{ sample.family }}" required>
            <input type="submit" hx-put="/samples/{{ sample.id }}/" hx-target="main" value="Update"
                style="border: none;" class="pico-background-green-500">
        </form>
    </article>
</dialog>
<button onclick="document.getElementById('edit-sample-dialog').showModal()">Edit</button>