<table>
    <thead>
        <tr>
            <th>Family Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>{{ sample.family }}</td>
            <td><button class="pico-background-green-450" hx-target="main"
                    hx-post="/experiments/{{ experiment_id }}/link/?entity_type=sample_family&entity_identifier={{ sample.family }}">
                    <small>Link</small>
                </button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>