{% if sample %}
<tr id="sample-row-{{ sample.id }}">
    <td>{{ sample.id }}</td>
    <td>{{ sample.formula }}</td>
    <td>{{ sample.format }}</td>
    <td>{{ sample.label }}</td>
    <td>{{ sample.family }}</td>
    <td>{{ sample.measurements | length }}</td>
    <td>
        <small>{{ sample.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
    </td>
    <td>
        <div class="button-container">
            {% if archived %}
            <button class="pico-background-green-450" hx-post="/samples/{{ sample.id }}/unarchive/"
                hx-target="#sample-row-{{ sample.id }}" hx-swap="delete">
                <small>Unarchive</small>
            </button>
            <button class="pico-background-red-600" hx-delete="/samples/{{ sample.id }}"
                hx-target="#sample-row-{{ sample.id }}" hx-swap="delete">
                <small>Delete</small>
            </button>
            {% else %}
            <button hx-get="/samples/{{ sample.id }}" hx-target="main" hx-replace-url="/samples/{{ sample.id }}"
                hx-push-url="true">
                <small>View</small>
            </button>
            <button class="pico-background-orange-450" hx-post="/samples/{{ sample.id }}/archive/"
                hx-target="#sample-row-{{ sample.id }}" hx-swap="delete">
                <small>Archive</small>
            </button>
            {% endif %}
        </div>
    </td>
</tr>
{% endif %}

{% if request.headers.get('HX-Request') %}
{% if sample %}
<article style="margin: 0;" id="sample-added-notification" class="pico-background-jade-350" hx-swap-oob="true">
    Sample {{ sample.label }}, added at {{ sample.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
</article>
{% else %}
<article style="margin: 0;" id="sample-added-notification" class="pico-background-red-350" hx-swap-oob="true">
    You must fill in at least one field
</article>
{% endif %}
{% endif %}