{% if upload_entity == "samples" %}
{% include 'partials/samples/upload_sample_form.html' %}
{% endif %}

{% if upload_entity == "measurements" %}
{% include 'partials/measurements/upload_measurements_form.html' %}
{% endif %}


{% if error %}
<dialog open>
    <article>
        <header>
            <strong>Error: {{ error }}</strong>
        </header>
        <form method="dialog">
            <button class="btn-danger">Close</button>
        </form>
    </article>
</dialog>
{% endif %}

{% if upload_entity == "measurements" %}
<p>Measurement {{ measurement_name }} added</p>
<p>{{ data_points_count }} data points added</p>
<p>
    <a href="/samples/{{ sample.id }}" hx-target="main" hx-replace-url="/samples/{{ sample.id }}" hx-boost="true">
        &larr; Back to sample
    </a>
</p>
{% endif %}

{% if upload_entity == "samples" %}
<p>{{ samples_created_count }} samples created</p>
<p>{{ sample_created_error_count }} errors</p>
<a href="/samples/" hx-target="main" hx-replace-url="/samples" hx-boost="true">
    &larr; Back to samples
</a>
{% endif %}