<h2>About</h2>

<article>
    <header>
        <strong>Mission</strong>
    </header>
    <p><i>LabMate is still in development. This is what we are working towards...</i></p>
    <p>
        LabMate is an Electronic Lab Book (ELB) web application designed to help you manage your scientific
        experiments and data. It provides a centralised space where you can document, organise, and access all
        your research activities.</p>
    <div class="grid">
        <details>
            <summary>
                <strong>Data Management</strong>
            </summary>
            <p>With LabMate, you can easily record and manage experiments, samples, and measurements in one place.
                The
                platform helps keep your data organised, ensuring you can find and use your information whenever you
                need it.</p>
        </details>
        <details>
            <summary>
                <strong>Reporting</strong>
            </summary>
            <p>LabMate includes tools for generating detailed reports and analysing your data. You can visualise
                your
                results, identify patterns, and make informed decisions based on the insights you gather from your
                research.</p>
        </details>
        <details>
            <summary>
                <strong>Integration</strong>
            </summary>
            <p>LabMate supports collaboration by allowing you to create organisations, invite other researchers,
                and
                share
                your data with them. Additionally, it offers API integration, so you can connect your existing systems
                to LabMate for storing and retrieving data efficiently.</p>
        </details>
    </div>
</article>

{% include 'partials/pages/features.html' %}
{% include 'partials/pages/terms_and_conditions.html' %}