<h2 id="features-section">Development Roadmap</h2>
<div class="grid">
    <article>
        <header>
            <strong>Live</strong>
        </header>
        <ul>
            <li>Manage experiments, samples and measurements</li>
            <li>Create entity relationships</li>
            <li>Visualise measurements</li>
            <li>Archive and delete data</li>
            <li>Quick search samples and experiments</li>
        </ul>
    </article>
    <article>
        <header>
            <strong>In Development</strong>
        </header>
        <ul>
            <li>User dashboard and profile controls</li>
            <li>Entity management improvements</li>
            <li>Filtered search</li>
            <li>Greater visualisation control</li>
            <li>Experiment methods and progress</li>
            <li>Export your data</li>
        </ul>
    </article>
    <article>
        <header>
            <strong>Future Features</strong>
        </header>
        <ul>
            <li>Analytics and reporting</li>
            <li>Organisations</li>
            <li>Data access levels</li>
            <li>Subscription levels</li>
            <li>API access</li>
            <li>Email based access</li>
        </ul>
    </article>
</div>