<h2>Pricing</h2>
<div class="grid">
    <article>
        <header>
            <h2>Free</h2>
            <p>Ideal for students and individual users</p>
        </header>
        <ul class="pricing-list">
            <li class="checked">100 Mb capacity</li>
            <li class="checked">Track your experiments</li>
            <li class="checked">Visualise your data</li>
            <li class="checked">Import csv data files</li>
            <li class="checked">Create entity relationships</li>
            <li class="unchecked">Export your data</li>
            <li class="unchecked">Advanced analytics and visuals</li>
            <li class="unchecked">API access for integrations</li>
            <li class="unchecked">Support for multiple organisations</li>
            <li class="unchecked">Data encryption for enhanced security</li>
            <li class="unchecked">Dedicated consultations and training</li>
        </ul>
        <footer>
            <a href="/register">Sign up for free! &rarr;</a>
        </footer>
    </article>
    <article>
        <header>
            <h2>Professional</h2>
            <p>For teams and organisations with advanced needs</p>
        </header>
        <ul class="pricing-list">
            <li class="checked">Customisable storage and capacity</li>
            <li class="checked">Track your experiments</li>
            <li class="checked">Visualise your data</li>
            <li class="checked">Import csv data files</li>
            <li class="checked">Create entity relationships</li>
            <li class="checked">Export your data</li>
            <li class="checked">Advanced analytics and visuals</li>
            <li class="checked">API access for integrations</li>
            <li class="checked">Support for multiple organisations</li>
            <li class="checked">Data encryption for enhanced security</li>
            <li class="checked">Dedicated consultations and training</li>
        </ul>
        <footer>
            <a href="/contact">Contact us to discuss further... &rarr;</a>
        </footer>
    </article>
</div>