<h2 id="terms-and-conditions">Terms and Conditions</h2>
<div>
    <article>
        <header>
            <p>
                By using LabMate, our lab notebook web application (the "Service"), you agree to the following Terms
                and Conditions:
            </p>
        </header>
        <small>
            <ol>
                <li>
                    <strong>Account Security</strong><br>
                    You are solely responsible for maintaining the security of your account and the content you create
                    within the Service. While you retain ownership of your content, you must ensure it is lawful and
                    does not infringe upon the rights of others. We reserve the right to remove any content that
                    violates these requirements, suspend or terminate your account, and take any other appropriate
                    actions.
                </li>
                <li>
                    <strong>Data Security</strong><br>
                    While we implement measures to protect your data, we do not guarantee its absolute security. You
                    acknowledge and accept that the use of the Service is at your own risk. <strong>Your data is not
                        encrypted</strong>, but this will be a feature in the future.
                </li>
                <li>
                    <strong>Modifications to the Service</strong><br>
                    We reserve the right to modify, suspend, or discontinue the Service at any time, with or without
                    prior notice.
                </li>
                <li>
                    <strong>Service Provided "As Is"</strong><br>
                    The Service is provided on an "as is" and "as available" basis. We make no warranties, express or
                    implied, regarding the operation of the Service or the information, content, materials, or products
                    included. This includes, but is not limited to, implied warranties of merchantability, fitness for a
                    particular purpose, and non-infringement.
                </li>
                <li>
                    <strong>Limitation of Liability</strong><br>
                    In no event shall the creators of LabMate be liable for any direct, indirect, incidental, punitive,
                    or consequential damages arising from the use of the Service.
                </li>
                <li>
                    <strong>Acceptance of Terms</strong><br>
                    By continuing to use the Service, you acknowledge that you have read, understood, and agree to these
                    Terms and Conditions.
                </li>
            </ol>
        </small>
    </article>
</div>