<h2>Log in</h2>
<form method="post" action="/login">
    {% if error %}
    <label for="username">Username</label>
    <input id="username" type="text" name="username" aria-invalid="true" aria-describedby="invalid-helper" required>
    <small id="invalid-helper">
        {{ error }}
    </small>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" aria-invalid="true" aria-describedby="invalid-helper" required>
    <small id="invalid-helper">
        {{ error }}
    </small>
    {% else %}
    <label for="username">Username</label>
    <input id="username" type="text" name="username" autocomplete="username" required autofocus>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    {% endif %}
    <button type="submit">Log in</button>
</form>
<a hx-get="/register" hx-target="main" hx-replace-url="/register" style="cursor:pointer">
    Not registered? Sign Up
</a>