<h2>Create an account</h2>
<form method="post" action="/register">
    <label for="username">Username</label>
    <div id="username-check">
        {% if error %}
        {% include 'partials/auth/username_taken.html' %}
        {% else %}
        <input id="username" type="text" name="username" autocomplete="username" hx-get="/check_username_taken"
            hx-trigger="input changed delay:500ms, search" hx-target="#username-check" required autofocus>
        {% endif %}
    </div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    <button type="submit">Register</button>
</form>
<a hx-get="/login" hx-target="main" hx-replace-url="/login">Already
    Registered? Log in
</a>