<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LabMate a web based Electronic Lab Notebook">
    <title>LabMate</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/pico.colors.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/charts.js"></script>
    <script src="/static/js/mobile-alert.js"></script>
</head>

<body>
    <header class="top-nav pico-background-azure-950">
        {% include 'partials/navbar/navbar.html' %}
    </header>
    <dialog id="mobile-alert">
        <article>
            <header>
                <form method="dialog">
                    <button aria-label="Close" rel="prev" data-close></button>
                </form>
                <h2>Better on Desktop</h2>
            </header>
            <p>We recommend using a desktop for the best experience on this website.</p>
        </article>
    </dialog>
    <div class="layout">
        {% if user %}
        <aside id="sidebar" class="pico-background-azure-900">
            <nav>
                <ul hx-boost="true" id="explore-links">
                    {% include 'partials/navbar/explore.html' %}
                </ul>
            </nav>
        </aside>
        {% endif %}
        <main class="container" id="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer class="centered-text pico-background-azure-950">
        <small>
            &copy; <span id="year"></span> LabMate <span> |
                <a href="/about#terms-and-conditions">Terms of use</a>
            </span>
        </small>
    </footer>
    <button id="backToTopBtn" title="Go to top"><img src="/static/svg/scroll-up.svg" alt=""></button>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();

        (function () {
            let backToTopBtn = document.getElementById("backToTopBtn");

            if (backToTopBtn) {
                window.onscroll = function () {
                    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                        backToTopBtn.style.display = "block";
                    } else {
                        backToTopBtn.style.display = "none";
                    }
                };
                backToTopBtn.onclick = function () {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                };
            }
        })();
    </script>
</body>

</html>