<article>
    <h4>Chart Controls</h4>
    <div class="grid">
        <fieldset>
            <legend>Axis Selection</legend>
            <label for="xAxis">X Axis:</label>
            <select id="xAxis">
                <option value="">Select X Axis</option>
            </select>

            <label for="yAxis">Y Axis:</label>
            <select id="yAxis">
                <option value="">Select Y Axis</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Line type</legend>
            <label>
                <input type="radio" name="chartType" value="scatter" checked> Scatter Plot
            </label>
            <label>
                <input type="radio" name="chartType" value="line"> Line
            </label>
            <label>
                <input type="radio" name="chartType" value="lineWithPoints"> Line with Points
            </label>
        </fieldset>
    </div>
</article>