<tr id="measurement-row-{{ measurement.id }}">
    <td>{{ measurement.id }}</td>
    <td>{{ measurement.name }}</td>
    <td>{{ measurement.variables | length }}</td>
    <td>{{ measurement.data_points | length }}</td>
    <td>{{ measurement.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>
        <div class="button-container">
            <button class="pico-background-green-400" hx-get="/measurements/{{ measurement.id }}" hx-target="main"
                hx-replace-url="/measurements/{{ measurement.id }}" hx-push-url="true">
                Visualise </button>
            <button class="pico-background-red-600" hx-delete="/measurements/{{ measurement.id }}"
                hx-target="#measurement-row-{{ measurement.id }}" hx-swap="delete"
                hx-confirm="Are you sure you want to delete these measurements?">
                <small>Delete</small>
            </button>
        </div>
    </td>
</tr>