<dialog id="upload-measurements-dialog">
    <article>
        <header>
            <form method="dialog">
                <button aria-label="Close" rel="prev"></button>
            </form>
            {% if sample %}
            <strong>Attach measurements to this sample</strong>
            {% else %}
            <strong>Upload measurements</strong>
            {% endif %}
        </header>
        <p>
            The following CSV column names must be present and contain variable name and unit with a space between them,
            for example:
        <pre>temperature K,density kg/m^3,tensile_strength MPa<br>300,1000,1000</pre>
        </p>
        <p>If no name is provided, the filename will be used.</p>
        <div id="upload-form-section">
            {% include 'partials/measurements/upload_measurements_form.html' %}
        </div>
    </article>
</dialog>
<button onclick="document.getElementById('upload-measurements-dialog').showModal()">
    {% if sample %}Attach measurements{% else %}Upload{% endif %}
</button>