<h2>Archives</h2>
<p>Here you can find archived experiments and samples. You can unarchive or delete permanently</p>

<div class="grid">
    <div>
        <button hx-get="/samples/archived/" hx-target="#archived-samples-container">
            View archived samples
        </button>
        <div id="archived-samples-container">
        </div>
    </div>
    <div>
        <button hx-get="/experiments/archived/" hx-target="#archived-experiments-container">
            View archived experiments
        </button>
        <div id="archived-experiments-container"></div>

    </div>
    <div>
        <button class="btn-danger" hx-delete="/archives/" hx-swap="outerHTML"
            hx-confirm="Are you sure you wish to delete all your archived items? This is a permanent action and cannot be undone!">
            Delete all archived items
        </button>
    </div>
</div>