<h2>Settings</h2>
<article>
    <header><strong>Developer</strong></header>
    <p>Use an API to integrate with your own services. The API key will have the same role access as you.</p>
    {% if user.hashed_api_key %}
    <p>You have an api key</p>
    {% include 'partials/user/delete_api_key_action.html' %}
    {% else %}
    {% include 'partials/user/create_api_key_action.html' %}
    {% endif %}
</article>
<article>

    <header><strong>Actions</strong></header>
    <dialog id="deleta-all-entities">
        <article>
            <header>
                <form method="dialog">
                    <button aria-label="Close" rel="prev"></button>
                </form>
                <strong>This action is irreversible!</strong>
            </header>
            <p>
                <strong class="btn-danger">Warning: Deleting your data is permanent and cannot be
                    undone.</strong>
            </p>
            <p>This includes all archived and un-archived experiments, samples, methods and measurements</p>
            <p>Press <code>esc</code> or click <code>X</code> to exit</p>
            <button class="btn-danger" hx-delete="/user/data/all/" hx-target="main"
                hx-confirm="Last chance! After you click 'OK' all your data will be deleted. Press esc or click Cancel to exit">
                Delete all your data
            </button>
        </article>
    </dialog>

    <div>
        <button class="btn-danger" onclick="document.getElementById('deleta-all-entities').showModal()">
            Danger: Delete all your data
        </button>
    </div>
</article>